* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}  
#contents {	
	/*
		repeat : 가로 방향, 세로 방향으로 반복합니다.
		repeat-x : 가로 방향으로 반복합니다.
		repeat-y : 세로 방향으로 반복합니다.
		no-repeat : 반복하지 않습니다.
		initial : 기본값으로 설정합니다.
		inherit : 부모 요소의 속성값을 상속받습니다.
	*/
	background:url("/kosMember/img/img_mando/Up.gif") repeat;
	/* 
		auto : 원래 배경 이미지 크기만큼 표시(기본 값)
		contain : 지정한 요소 안에 배경 이미지가 다 들어오도록 이미지를 확대/축소
		cover : 지정한 요소를 다 덮도록 배경이미지를 확대/축소
		크기 값 : 너비 값과 높이 값을 지정
		백분율 : 지정한 요소를 기준으로 백분율 값을 지정
	*/
	background-size:auto;
	width:800px;
	height:500px;
	margin:0 auto;
	position:relative;
}
h1 { 
	color:#fff; 
	font-size:120px;
	text-shadow: 2px 3px 0 #000;      
	position:absolute;
	right:100px;
	bottom:100px;
}