<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="a.b.c.com.kosmo.product.dao.KosmoProductDAO">

<insert id="kosmoProductInsert" parameterType="kosmoproductvo" >
	INSERT INTO KOSMO_PRODUCT(MNUM, MID, MCNT, MNAME, MPRICE, MDES,  MCOM,  MIMG, MINSERTDATE, MUPDATEDATE, MDELETEYN)
	VALUES (#{mnum ,jdbcType=VARCHAR}, 
			#{mid ,jdbcType=VARCHAR}, 
			#{mcnt,jdbcType=VARCHAR}, 
			#{mname,jdbcType=VARCHAR}, 
			#{mprice,jdbcType=VARCHAR}, 
			#{mdes,jdbcType=VARCHAR}, 
			#{mcom,jdbcType=VARCHAR},  
			#{mimg,jdbcType=VARCHAR}, 
			SYSDATE, 
			SYSDATE, 
			'Y')
</insert>

<select id="kosmoProductSelectAll" resultType="kosmoproductvo">
	SELECT
        A.MNUM  AS MNUM
        ,A.MID   AS MID
        ,A.MCNT AS MCNT
        ,A.MNAME AS MNAME
        ,A.MPRICE AS MPRICE
        ,A.MDES  AS MDES
        ,A.MCOM  AS MCOM
        ,A.MIMG  AS MIMG
        ,TO_CHAR(TO_DATE(A.MINSERTDATE), 'YYYY-MM-DD') AS MINSERTDATE  
        ,TO_CHAR(TO_DATE(A.MUPDATEDATE), 'YYYY-MM-DD') AS MUPDATEDATE  
        ,A.MDELETEYN  AS  MDELETEYN
	FROM KOSMO_PRODUCT A
	WHERE A.MDELETEYN='Y'
</select>

<select id="kosmoProductSelect" parameterType="kosmoproductvo" resultType="kosmoproductvo">
SELECT 
		A.MNUM  AS MNUM
        ,A.MID   AS MID
        ,A.MCNT AS MCNT
        ,A.MNAME AS MNAME
        ,A.MPRICE AS MPRICE
        ,A.MDES  AS MDES
        ,A.MCOM  AS MCOM
        ,A.MIMG  AS MIMG
        ,TO_CHAR(TO_DATE(A.MINSERTDATE), 'YYYY-MM-DD') AS MINSERTDATE  
        ,TO_CHAR(TO_DATE(A.MUPDATEDATE), 'YYYY-MM-DD') AS MUPDATEDATE  
        ,A.MDELETEYN  AS  MDELETEYN
	FROM KOSMO_PRODUCT A	
	WHERE  1=1	
  	<if test="searchFilter=='key_01'">
		<![CDATA[ AND A.MNUM LIKE '%' || #{keyword, jdbcType=VARCHAR} || '%']]>				
	</if>
	<if test="searchFilter=='key_02'">
		<![CDATA[ AND A.MNAME LIKE '%' || #{keyword, jdbcType=VARCHAR} || '%']]>
	</if>
	<if test="startDate!=null and startDate!='' and endDate!=null and endDate!='' ">
		<![CDATA[ AND TO_CHAR(TO_DATE(A.MINSERTDATE), 'YYYY-MM-DD') 
					>= TO_CHAR(TO_DATE(#{startDate, jdbcType=VARCHAR}), 'YYYY-MM-DD')]]>
		<![CDATA[ AND TO_CHAR(TO_DATE(A.MINSERTDATE), 'YYYY-MM-DD') 
					<= TO_CHAR(TO_DATE(#{endDate, jdbcType=VARCHAR}), 'YYYY-MM-DD')]]>
	</if>	
</select>
</mapper>          